//.session-form-hold{
//  margin:10% 35%;
//  height: 180px;
//  width: 400px;
//}
.full-width{
  width: 100%;
}
.signin-form{
  margin-top: 20px;
}
.pb-1{
  mat-checkbox {
    margin-left: 15px;
  }
}
