<div class="signup-form">
<form #signupForm="ngForm" (ngSubmit)="signup()">
    <mat-input-container class="full-width">
      <input
        matInput
        name="username"
        required
        [(ngModel)]="signupData.nickname"
        #userName="ngModel"
        placeholder="Nickname (no less the 4 character)"
        minlength="4"
        maxlength="20"
        value="">
    </mat-input-container>
    <small
      *ngIf="userName.errors && (userName.dirty || userName.touched) && (userName.errors.required)"
      class="form-error-msg"> Username is required
    </small>

    <small
      *ngIf="userName.errors && (userName.dirty || userName.touched) && (userName.errors.minLength)"
      class="form-error-msg"> min length is 4 characters
    </small>

    <small
      *ngIf="userName.errors && (userName.dirty || userName.touched) && (userName.errors.maxLength)"
      class="form-error-msg"> max length is 20 characters
    </small>
    <div class="">
    <mat-input-container class="full-width">
      <input
        matInput
        type="email"
        name="email"
        required
        [(ngModel)]="signupData.username"
        #email="ngModel"
        placeholder="Your Email"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        value="">
    </mat-input-container>
    <small
      *ngIf="email.errors && (email.dirty || email.touched) && (email.errors.required)"
      class="form-error-msg"> Email is required
    </small>

    <small
      *ngIf="email.errors && (email.dirty || email.touched) && (email.errors.pattern)"
      class="form-error-msg"> Invaild email address
    </small>
  </div>

  <div class="">
    <mat-input-container class="full-width">
      <input
        type="password"
        name="password"
        required
        matInput
        minlength="6"
        maxlength="20"
        [(ngModel)]="signupData.password"
        #password="ngModel"
        placeholder="Password (no less the 6 character)"
        value="">
    </mat-input-container>
    <small
      *ngIf="password.errors && (password.dirty || password.touched) && (password.errors.required)"
      class="form-error-msg"> Password is required
    </small>
    <small
      *ngIf="password.errors && (password.dirty || password.touched) && (password.errors.minLength)"
      class="form-error-msg"> min length is 6 characters
    </small>
    <small
      *ngIf="password.errors && (password.dirty || password.touched) && (password.errors.maxLength)"
      class="form-error-msg"> max length is 20 characters
    </small>
  </div>

  <div class="">
    <mat-input-container class="full-width">
      <input
        type="password"
        name="confirmPassword"
        required
        matInput
        [(ngModel)]="signupData.confirmPassword"
        #confirmPassword="ngModel"
        placeholder="Confirm Password"
        value="">
    </mat-input-container>
    <small
      *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
      class="form-error-msg"> Password mismatch
    </small>
  </div>

  <div class="pb-1">
    <mat-checkbox
      name="isAgreed"
      required
      [(ngModel)]="signupData.isAgreed"
      #isAgreed="ngModel"
      class="pb-1">I have read and agree to the terms of service.
    </mat-checkbox>

    <small
      *ngIf="!isAgreed.value && (isAgreed.dirty || isAgreed.touched)"
      class="form-error-msg"> You must agree to the terms and conditions
    </small>
  </div>
  <button mat-raised-button color="primary"  class="full-width"
          [disabled]="signupForm.invalid || !isAgreed.value">Sign up
  </button>
</form>
</div>
